.info-container {
  display: table-cell;
  height: 100vh;
  background: rgba(178, 0, 185, 0.1);
  width: 100vw;

  vertical-align: middle;
  text-align: right;
}

.content {
  padding-top: 20vmin;
  grid-area: content;
  padding: 0 7vw;
  text-align: center;
  font-size: 9vmin;
}

.socials-container {
  text-align: center;
  margin: 10vh auto 10px auto;
}

.social {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 15vmin;
  height: 15vmin;
  margin: 0 3vw;

  filter: opacity(0.8);
  background: #018786;
  cursor: pointer;
}

.social:hover {
  filter: opacity(1);
}

.twitter {
  background: url('../../../assets/Twitter-icon.svg');
  background-size: 100%;
}

.github {
  background: url('../../../assets/GitHub-icon.svg');
  background-size: 100%;
}

.linked {
  background: url('../../../assets/LinkedIn-icon.svg');
  background-size: 100%;
}

.youtube {
  background: url('../../../assets/YouTube-icon.svg');
  background-size: 100%;
}
