.info-container {
  display: table-cell;
  height: 100vh;
  background: rgba(178, 0, 185, 0.1);
  width: 100vw;

  vertical-align: middle;
  text-align: right;
}

.content {
  padding-top: 20vmin;
  grid-area: content;
  padding: 0 7vw;
  text-align: center;
  font-size: 9vmin;
}

.socials-container {
  text-align: center;
  margin: 10vh auto 10px auto;
}

.social {
  display: inline-block;
  text-align: center;
  width: 15vmin;
  height: 15vmin;
  background: red;
  margin: 0 3vw;
  border-radius: 50%;
}
