.info-container {
  display: table-cell;
  height: 100vh;
  background: rgba(178, 0, 185, 0.2);
  width: 100vw;

  vertical-align: middle;
  text-align: right;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'content'
    'socials';
  margin: 0 auto;
}

.content {
  grid-area: content;
  padding-right: 0.5vw;
  text-align: center;
  font-size: 3.4vw;
}

.socials-container {
  grid-area: socials;
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-areas:
      'content'
      'socials';
  }
}
@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 'socials content';
  }
}
