<div class="site-container info-container">
    <div class="content">
        My name is {{name}}.
        I'm {{age.years}} years, and {{age.months}} months old and live in {{place}}.
    </div>
    <div class="socials-container">
        <div
            class="social twitter"
            (click)="socialLink('twitter')"
        ></div>
        <div
            class="social github"
            (click)="socialLink('github')"
        ></div>
        <div
            class="social linked"
            (click)="socialLink('linked')"
        ></div>
        <div
            class="social youtube"
            (click)="socialLink('youtube')"
        >
        </div>
    </div>
</div>
