<div
    class="greeting-container"
    [ngStyle]="{ 'opacity': containerOpacity }"
>
    <div class="greeting-title">
        <span
            id="title-text"
            [ngStyle]="{ 'opacity': textOpacity }"
        >
            {{ greeting.title }}
        </span>
    </div>
    <div
        class="navigation-arrow-container"
        [ngStyle]="{ 'bottom': triangleBottomPosition + 'vh' }"
    >
        <div (click)="scroll(scrollTarget)">
            <i class="triangle-icon"></i>
        </div>
    </div>
</div>
<span #scrollTarget></span>
