.greeting-container {
  height: 70vh;
  padding-top: 30vh;
  min-height: 250px;
}

.greeting-title {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
  margin: 0 auto;
  width: 90vw;
  border-radius: 10vw;
}

#title-text {
  transition: opacity 0.5s ease-out;
  font-size: 9vmax;
}

.navigation-arrow-container {
  position: absolute;
  width: 100%;
  height: 30px;
  right: 25%;
  left: 50%;
  margin-left: -50%;
  transition: all 0.7s ease-out;
}

.navigation-arrow-container > div {
  display: inline-block;
  width: 9vmin;
  height: 9vmin;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid silver;
  border-radius: 120%;
  cursor: pointer;
}

.triangle-icon {
  display: inline-block;
  border: solid rgba(65, 130, 130, 0.8);
  border-width: 0 0.5vmin 0.5vmin 0;
  padding: 2.2vmin;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

  position: relative;
  top: 1vmin;
}

@-webkit-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
